@media screen and (max-width: 820px) {
    
    .navContainer {
        height: auto;
        p {
            display: block;
            text-align: center;
        }
        
        nav {
            display: flex;
            flex-direction: column;
            position: static;
            align-items: center;
            a {
                &:before {
                    display: none;
                }
                margin-bottom: 15px;
                &:hover:before {
                display: none;
                }   
            }
        }    
    }
    
    .procitajOpsirtine {
        flex-direction: column;
        .btn {
            margin: 0;
            margin-top: 15px;
            margin-left: 0 !important;
        }
        p,h3 {
            text-align: center;
        }
    }
    
    .section1 .section1Content {
        justify-content: center;
    }
    
    footer .footerContent {
        justify-content: space-around;
        div {
            min-width: 205px;
        }
    }
    .mapaSajta {
        a {
            text-align: center;
        }
    }
    .unslider-arrow1 {
        width: 26px;
    } 
}